@page "/"
@using FriendlyGeekGameServerManager.Interfaces

@inject ILogger<Dashboard> Logger
@inject IDialogService DialogService;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="@CreateServerButtonPressed">Create Server</MudButton>
<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cyclone" Color="Color.Secondary" OnClick="@ReloadPlugins">Reload Plugins</MudButton>

@code {

    void CreateServerButtonPressed()
    {
        Logger?.LogInformation("Attempting to create a new server");
        // _pluginManager.GetAvailablePluginInformation();
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<SelectGame>("Create Server", options);
    }

    private void ReloadPlugins(MouseEventArgs obj)
    {
        _pluginManager.LoadPlugins();
    }

}